<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="section" class="com.standard.beans.Section">
	</bean>
	
	<bean id="student" class="com.standard.beans.Student">
		<property name="name" value="Kevin"></property>
		<property name="subject" ref="subject1"></property>
	</bean>
	
	<bean id="subject1" class="com.standard.beans.Subject">
		<property name="name" value="Science"></property>
	</bean>
	
	<bean id="subject2" class="com.standard.beans.Subject">
		<property name="name" value="Math"></property>
	</bean>

</beans>